.Photos {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    margin-bottom: 3px
}

figure {
    width: 350px;
    height: 450px; /* Increase height to accommodate Polaroid effect */
    margin: 0; /* Optional: removes default figure margin */
    background: white; /* Polaroid background */
    padding: 10px 10px 10px; /* Extra bottom padding for caption space */
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2); /* Add shadow for Polaroid effect */
    text-align: center; /* Center align caption text */
}

figure img {
    width: 350px;
    height: 350px; 
    object-fit:cover; /* Maintain aspect ratio while filling */
    border-bottom: 10px solid white; /* Adds space between the image and the caption */
}

figcaption {
    margin-top: 10px; /* Space between image and caption */
    font-family: 'Courier New', monospace;
    font-size: 14px; 
    color: #333; 
}

/* .header,.lo go, & .site_title pertain to their exact definition*/
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 3px solid #ddd;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.site-title {
    font-size: 2em;
    font-weight: bold;
    color: #8d6309;
    margin: 0;
}






